@use "./abstracts/var" as v;
@use "./abstracts/mixin" as  m;

// ============================================
// Navigation
// ============================================

.nav {
  width:v.$lnb-width;
  padding:20px 0;
  h1 {
    font-size: 22px;
    line-height: 1;
    margin-bottom: v.$spacing-xl;
    color: v.$black-900;
  }
  &__list {
    a{color:v.$black-700;}
    & > li {
      &:not(:last-of-type){margin-bottom:12px;}
      & > a{
        display:flex;align-items:center;gap:10px;
        font-weight:700;
        padding:10px 0;
        font-size:v.$text-size-xl;
        border-radius:8px;
        &::before{@include m.shape(28px,30px);background:url(../../images/ico.png) 10px 6px no-repeat;}
        &.is-active{
          &::before{background-position-x:-18px;}
        }
        &:is(.is-active,:hover,:focus){color:v.$primary;}
      }
      @for $i from 1 through 2{
        &:nth-child(#{$i}) > a::before{background-position-y: (($i - 1) * -28px) + 6px;}
      }
    }
    .is-active{
      font-weight: 700;
      color:v.$primary;
    }
  }
  &__sublist{
    a{font-size:v.$text-size-lg;padding:12px 12px 0 18px;
      &::before{@include m.shape(11px, 12px);margin-right:7px;}
      &:is(.is-active,:hover,:focus)::before{background:url(../../images/ico.png)-57px 0 no-repeat;}
    }
  } 
  &__footer{
    margin-top:auto;
    color:v.$black-500;
    font-size:v.$text-size-sm;
    letter-spacing:-.13px;
    white-space:nowrap;
    align-self:center;
  }
  &-toggle{position:absolute;top:55px;right:-20px;
    @include m.ico_only($y: -211px, $w: 40px, $h: 40px, $imgurl: 'btn.png');
    @at-root #header.is-collapsed{width:v.$maingap;
      .nav-toggle::before{background-position-y:-170px;}
      .header_container{left: -(v.$lnb-width) + v.$maingap;}
    }
  }
}
